@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-image: linear-gradient(-90deg, rgb(77, 77, 77), black);

}

.App{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#search{
    width: 70%;
    height: 40px;
    font-size: 24px;
    color: whitesmoke;
    background: transparent;
    border: none;
    text-align: left;
}


#search_bar{
    width: 50%;
    border-bottom: 1px solid whitesmoke;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
}

#search-button{
    border-radius: 25px;
    border: none;
    height: 40px;
}

#games-list-container{
    padding-top: 40px;
}

#games-list{
    list-style: none;
    font-family: consolas;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0px;
}

#glass{
    width: 5%;
    margin: 0;
}

li{
    /* padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px; */

    height: 140px;
    margin: 15px;
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    background: rgb(88, 88, 88);
    /* border-bottom: 0.5px solid rgb(219, 219, 219); */
}

.game-image{
    width: 250px;
    height: 140px;
}

h4, p{
    display: inline;
    padding: 20px;
}


.w3-button{
    float: right;
}